<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GHETTO DAW</title>
  <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="app">
      
      <h1>(㇏(•̀ᵥᵥ•́)ノ)</h1>

      <div class="container">
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
</div>

      <h2 class="title">GHETTO DAW</h2>
      <a class="nav" href="/">Home</a>
      {{{body}}}
    </div>

    <script src="lib.js"></script>

  </body>
</html>
