 <div id="sequencer"> 
        <table>
            <tr>
                <td class="executing"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>         
            

            <tr>

                <td class="executing HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>
                <td class="HH1"></td>

               
            </tr>
            
            
            <tr>

                <td class="executing HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>
                <td class="HH0"></td>

               
            </tr> 
            
            <tr>

                <td class="executing PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>
                <td class="PHOEBE"></td>

               
            </tr>
        </table>
    </div>